{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post №{{ post.id }}</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Post №{{ post.id }}</h1>
    <br>
    <h2>{{ post.author }}</h2>
    <br>
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <br>
    <h4>{{ post.publish_date }} {{ post.likes }} {{ post.dislikes }}</h4>
    <form method="post" action="{% url 'rate_post' post.id %}">
        {% csrf_token %}
        <div class="form-check mt-3">
            <input type="radio" name="like" value="like" id="poll_type1" checked>
            <label for="poll_type1">Like</label>
        </div>
        <div class="form-check mt-3">
            <input type="radio" name="like" value="dislike" id="poll_type2">
            <label for="poll_type2">Dislike</label>
        </div>
        <button type="submit" name="vote">Vote</button>
    </form>
    <h3>Make a comment about the article!</h3>
    <form method="POST" action="{% url 'comment' post.id %}">
        {% csrf_token %}
        <textarea name="comment_text" style="height: 200px; font-size:20px;"></textarea>
        <button type="submit" id="make_comment">Comment</button>
    </form>
    {% for comment in comments %}
        <div>
            <h3>{{ comment.author }}</h3>
            <h4>{{ comment.content }}</h4>
            <h5>{{ comment.create_date }}</h5>
            <br>
        </div>
    {% endfor %}
</body>
</html>